PORT=5001
CLIENT_URL=http://localhost:5173

MONGO_URI=

ACCESS_SECRET=
REFRESH_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

OPENAI_API_KEY=

GEMINI_API_KEY=

GROQ_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=